*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #BFD7E4;
}

body::before{
  content: '';

  background: #293241;
  width: 100%;
  height: 465px;

  display: block;
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

.page{
  width: 760px;

  margin: 107px auto 107px;
}

header,
.header-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1,
form legend,
form .button{
  color: #FFFFFFFF;

  font-family: 'Staatliches', sans-serif;
  font-size: 36px;
  font-weight: normal;
}

header p{
  color: #FFFFFFFF;
}

header img{
  width: 225px;
  height: 100px;

  margin-top: 26px;
}

.cabeca{
  background: #F67669;

  border-radius: 20px 20px 0 0;

  width: 760px;
  height: 138px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;

}

form{
  background: #FFFFFF;
  
  border-radius: 0px 0px 20px 20px;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;

  width: 100%;
  min-height: 1075px;

  padding:0 64px 64px;
  
  display: flex;
  flex-direction: column;
  gap: 36px;
}

fieldset{
  border: none;
}

form .button,
.cabeca h1,
.primeiro-fieldset legend,
.fieldset-wrapper legend{
  width: 100%;
  font-size: 24px;

  font-style: normal;
  font-weight: 400;
  line-height: 34px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.primeiro-fieldset{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  margin-top: 30px;

  position: relative;
  z-index: 2;
}

.input-wrapper,
.name-wrapper,
.mail-wrapper,
.select-wrapper,
.textarea-wrapper,
.checkbox-wrapper{
  width: 100%;

  display: flex;
  flex-direction: column;
}

.primeiro-fieldset label,
.input-wrapper label,
.name-wrapper label,
.mail-wrapper label,
.select-wrapper label,
.textarea-wrapper label,
.checkbox-wrapper label,
.day-wrapper label,
.time-wrapper label{
  font-family: 'Poppins', sans-serif;

  color: #4E4958;
  
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  margin-bottom: 8px;
}

.mail-wrapper label span{
  color: #C1BCCC;
  font-size: 12px;
  line-height: 20px;

  margin-left: 9px;
}

.input-wrapper input,
.mail-wrapper input,
.select-wrapper select,
.textarea-wrapper textarea,
.day-wrapper input,
.time-wrapper input,
.button {
  font-family: 'Poppins', sans-serif;

  color: #4E4958;

  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  width: 100%;
  height: 55px;

  padding: 10px;
}

.name-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 22px;
}

.mail-wrapper,
.select-wrapper,
.day-wrapper,
.time-wrapper{
  display: flex;
  flex-direction: column;
}

.fieldset-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 15px;
}

.fieldset-wrapper legend{
  color: #253B51;
  margin-bottom: 31px;
}

.fieldset-wrapper legend::after{
  content: '';

  border-bottom: 2px solid #E6E6F0;

  width: 100%;

  display: block;
  margin-top: 10px;
}

.select-wrapper select{
  width: 50%;

  background: url(images/select.svg) no-repeat right #FAFAFC;
  background-position: right 3% top 50%;
  
  appearance: none;
}

.textarea-wrapper{
  margin: 15px 0;
}

.textarea-wrapper textarea{
  height: 167px;

  resize: none;
}

.checkbox-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  gap: 8px;
}

 .checkbox-wrapper input{
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
}


.checkbox-wrapper label{
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  position: absolute; 
}
 
.checkbox-wrapper label::before{
  content: '';

  background: #E6E6F0;
  border-radius: 8px;

  width: 24px;
  height: 24px;
}

.checkbox-wrapper input:checked + label::before{
  background: url(images/checkmark.svg) no-repeat right #E6E6F0;
}

.checkbox-wrapper input:focus + label::before{
  outline: 3px solid black;
}

.date-wrapper,
.mentor-hour{
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
}

.date-wrapper > div:nth-child(1){
  width: 100%;
}

.time-wrapper{
  width: 60%;
}

.mentor-hour{
  gap: 10px;
}

input.button{
  background: #F67669;

  border-radius: 8px;

  font-size: 20px;
}